header h1 {
    /*FOR DEBUGGING border: medium solid purple;*/
    display: inline;
    margin: 10px;
}

/* header img { 
    margin-left: 50px;
    text-align: right;
}*/

.alignleft {
	float: left;
}
.alignright {
    float: right;
}


#header1 {
    padding: 40px;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.90);
    color: white;
}

#headerText {
    padding-top: 20px;
    /* padding-top: 20px; */
}



.headingPlusVideo {
    display: inline-flex;
}

.videoSection {
    margin-top: 10px;
    margin-left: 10px;
}

body {
    background: url("https://mdbootstrap.com/images/regular/city/img%20(17).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ControlSection {
    background-color: rgba(0,0,0,0.90);
    color: white;
    /* fill-opacity: .25; */
}





/*BUTTONS  */
button {
    background-color: #C0C0C0 !important;
}

#section1 button {
    color: black !important;
    font-weight: bolder;
}
#section1 
#section3 button {
    color: black !important;
    font-weight: bolder;
}
#section4 button {
    color: black !important;
    font-weight: bolder;
}
#section2 button {
    /* background-color: #FFDAB9 !important; */
	font-size: 1.1em;
    background-color: #C0C0C0 !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important; 
}
/*#FFEFD5  */
#red {
    font-weight: bold;
    color: red;
    text-shadow: -.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#yellow {
    font-weight: bold;
    color: yellow;
    text-shadow: -.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#green {
    font-weight: bold;
    color: green;
    text-shadow: -.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#blue {
    font-weight: bold;
    color: dodgerblue;
    text-shadow: -.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#pink {
    font-weight: bolder;
    color: fuchsia;
    text-shadow: -.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#white {
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
